#main {
    max-width: 900px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: 100px 1fr 2fr 3fr; */
    column-gap: .5em;
    row-gap: .5em;
}

.grid > div {
    background-color: lightblue;
}